:root {
  color-scheme: light;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  background: #f8f8f8;
}

* {
  box-sizing: border-box;
}

button {
  font-family: inherit;
}

input {
  font-family: inherit;
}
